
// The Carousel

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
  }
  

  .carousel-fade {
  .carousel-item {
    opacity: 0;
    transition-duration: 3s;
    transition-property: opacity;
  }
}



// The Hero

.hero {
 
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  width: 80%;
  
  .logo-hero-svg {
    width: 10rem;
    // margin-left: 2.1rem;
  }

  @include media-breakpoint-up(md) {
   .logo-hero-svg {
     width: 20rem;
    //  margin-left: 5rem;
   }
  }
  @include media-breakpoint-up(xl) {
    .logo-hero-svg {
      width: 25rem;
      // margin-left: 5rem;
    }
   }
}

.dn-arrow-cont {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -10%);
  width: 80%;

  img {
    width: 2rem;
  }

  // 576px
  @include media-breakpoint-up(md) {
    img {
      width: 4rem;
    }
  }

  .dn-arrow {
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  
}







  