// Welcome Page Globals

.section {
    @include section-heading;
    padding: 4rem 1rem;

}

@include media-breakpoint-up(sm) {
    .section {
        padding: $section-padding;;
    
    }
}



// About Section

#about {
    background: #efefef;
    

    h1 {
        letter-spacing: .5rem;
        text-indent: .5rem;
        font-size: 1.5rem;
    }

    p {
        margin-bottom: 1rem;
        margin-top: 4rem;
    }

    a {
        font-size: 1.2rem;
        color: #656565;
    }

    @include media-breakpoint-up(md) {
        h1 {
            font-size: 2.375rem;
        }
    }
}



#products {

    h1 {
        letter-spacing: .5rem;
        text-indent: .5rem;
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p {
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

    @include media-breakpoint-up(md) {
        
        h1 {
            font-size: 2.375rem;
        }

        h2 {
            font-size: 1.75rem;
        }
}}

#services {

    background: #efefef;

    .icon-col {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    h1 {
        letter-spacing: .5rem;
        text-indent: .5rem;
        font-size: 1.5rem;
    }

    h2 {
        font-weight: 600;
        letter-spacing: .2rem;
        font-size: 1.4rem;
    }

    p {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    @include media-breakpoint-up(md) {
        .icon-col {
            padding-left: 8rem;
            padding-right: 8rem;
        }

        h1 {
            font-size: 2.375rem;
        }

        h2 {
            font-size: 1.75rem;
        }

        // p {
        //     margin-bottom: 0;
        // }
    }

    @include media-breakpoint-up(lg) {
        .icon-col {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        p {
            margin-bottom: 3rem;
        }
    }
}

